.body-font {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.headline-font {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}
body {
  background-color: white;
  background-image: url(depositphotos_21832027-Seamless-texture-with-flowers-and-butterflies.jpg);
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
body a {
  text-decoration: underline;
}
body a:hover {
  color: #e84d25 !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Quicksand', sans-serif;
  color: #e84d25 !important;
  font-weight: 400;
}
p,
ol,
ul,
li,
span,
.button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.panel {
  background: transparent;
  padding: 0;
  border: none;
}
header {
  margin-bottom: 2em;
}
header .row.wrap {
  background-color: #3d2e2e;
  padding: 1em;
  border-top: 5px solid #313B31;
}
header h1,
header h2,
header h3,
header h4,
header h5,
header h6,
header p,
header a {
  color: white !important;
}
header h1 {
  font-weight: 700 !important;
}
header h3 {
  margin-bottom: 1em;
}
header h5 {
  text-transform: uppercase;
}
header .button {
  background-color: transparent;
  border: 2px solid white;
}
header .button:hover {
  background-color: #e84d25;
  color: white !important;
}
header .button.tiny {
  font-size: 0.8rem;
}
main {
  background: white;
  padding: 1em;
}
main p,
main ul li {
  color: #313b31 !important;
  font-weight: 400;
}
main h5 {
  font-weight: 700;
}
main:first-of-type {
  margin-bottom: 2em;
}
main a {
  color: #313b31;
}
main a:hover {
  color: #e84d25;
}
footer {
  background: white;
  margin-top: 3em;
  padding-top: 1em;
}
footer img {
  border-radius: 5px;
}
footer h3,
main h3 {
  font-size: 1.4rem;
  margin-top: 1em !important;
  margin-bottom: 1em !important;
  font-weight: 700;
}
footer,
main {
  border-radius: 5px;
}
header .wrap {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
