@import "/css/fonts/Franklin%20Gothic%20FS%20Book/Webfonts/franklingothicfs_book_macroman/stylesheet.css";
@import "/css/fonts/Franklin%20Gothic%20FS%20Demi/Webfonts/franklingothicfs_demi_macroman/stylesheet.css";
@import "/css/fonts/Questa%20Grande%20Regular/Webfonts/questagrande_regular_macroman/stylesheet.css";
@import "/css/fonts/Questa%20Sans%20Regular/Webfonts/questasans_regular_macroman/stylesheet.css";
@import "/css/fonts/Questa%20Regular/Webfonts/questa_regular_macroman/stylesheet.css";
body {
  padding-top: 2em;
}
.sans {
  font-family: 'franklin_gothic_fsdemi';
}
.serif {
  font-family: 'questaregular';
}
img {
  border-radius: 50%;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-family: 'franklin_gothic_fsdemi';
}
p,
ol,
ul,
li {
  font-family: 'franklin_gothic_fsbook';
}
blockquote {
  border: none;
  padding-left: 0;
}
blockquote p {
  font-family: 'questaregular';
  font-size: 1.4rem;
}
ul {
  margin-left: 0.1em;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  list-style-position: inside;
}
